* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.layout1 {
  padding: 20px 40px;
}

.sticky {
  display: flex;
  position: sticky;
  align-items: center;
  justify-content: space-between;
}

.card {
  padding: 10px;
  border-radius: 14px;
}
.card-img {
  width: 300px;
  height: 285px;
  border-radius: 14px;
  object-fit: cover;
}
.parent {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  padding: 30px 40px;
  justify-content: flex-start;
}
.img_container {
  position: relative;
}
.heart_container {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 24px;
}

.guest_fav {
  display: flex;
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 5px 8px;
  font-size: 14px;
  border-radius: 14px;
  font-weight: 500;
  align-items: center;
}
.gold_cup {
  width: 16px;
  margin-right: 5px;
}
.dots_container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 8px; /* adjust spacing between dots */
}

.dot {
  height: 8px;
  width: 8px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 50%;
}

.dot.active {
  background-color: white;
}

.content_container {
  margin-top: 5px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.light_color {
  margin-top: 2px;
  color: #6a6a6a;
}

.underline {
  border-bottom: 1px solid #222;
  text-decoration: none;
  padding-bottom: 1px;
}

.end_text {
  margin-top: 5px;
  color: #222222;
}
